body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  font-size: 12px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

button {
  cursor: pointer;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1126px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  background-image: url(/img/page.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 48px;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

.nav a {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.nav a:hover {
  color: #FFD100;
}

.nav-item {
  padding-left: 31px;
}

.page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__info {
  width: 50%;
}

.page__title {
  padding-top: 142px;
  font-size: 46px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: left;
}

.page__subtitle {
  padding: 35px 0px 0px 0px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #FFFFFF;
}

.page__btn {
  padding-top: 65px;
}

.btn {
  background: none;
  outline: inherit;
  color: #FFFFFF;
  font-weight: 600;
  padding: 17px 35px;
  border: 1px solid;
  border-radius: 5px;
  margin-right: 20px;
  text-transform: uppercase;
  -webkit-transition: background-color .2s ease-in-out, color .2s ease-in-out;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.btn-white:hover {
  color: #5540BF;
  background-color: #FFFFFF;
}

.btn-white:last-child {
  margin-right: 0px;
}

.btn-purple {
  color: #FFFFFF;
  background-color: #5540BF;
}

.btn-purple:hover {
  color: #5540BF;
  background-color: #FFFFFF;
}

.btn-big {
  font-size: 16px;
  margin-bottom: 20px;
  padding: 25px 51px;
  border-radius: 100px;
}

.btn-big:hover {
  color: #FFD100;
}

.page__text {
  padding: 18px 30px 121px 0px;
  color: #FFFFFF;
  font-size: 14px;
}

.page__img {
  max-width: 550px;
  width: 50%;
  height: 561px;
  padding-top: 85px;
  padding-left: 40px;
}

.block__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 265px;
  background-color: rgba(175, 161, 249, 0.3);
}

.info {
  background-image: url(/img/block_info.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 220px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__block:last-child {
  padding-bottom: 320px;
}

.info__img {
  max-width: 550px;
  width: 50%;
  height: 400px;
}

.info__img-1, .info__img-3 {
  margin-left: -80px;
}

.info__img-2 {
  margin-right: -80px;
}

.info__content {
  width: 50%;
}

.info__content-1, .info__content-3 {
  padding-left: 40px;
}

.info__content-2 {
  padding-right: 40px;
}

.info__title {
  font-size: 36px;
  font-weight: 700;
}

.info__text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  padding: 34px 0px 43px 0px;
}

.statistics {
  background: linear-gradient(51.78deg, #5540BF 28.44%, #AFA1F9 99.76%);
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.statistics__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 101px 0px 101px 0px;
}

.statistics__info {
  padding-right: 30px;
}

.statistics__title {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 700;
}

.statistics__text {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 36px;
  padding-bottom: 44px;
}

.statistics__img {
  max-width: 588px;
  max-height: 455px;
  width: 100%;
  height: 100%;
  margin-top: -140px;
}

.statistics__img img {
  margin-right: -65px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  background-color: #fff;
}

.footer__content {
  padding: 70px 0px 53px 0px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  color: #5540BF;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__text {
  color: #5540BF;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-top: 15px;
  text-align: right;
}

.footer__social a {
  margin-right: 18px;
}

.footer__social a:last-child {
  margin-right: 0px;
}

.footer__social img {
  width: 30px;
  height: 30px;
}

@media (max-width: 1350px) {
  img {
    width: 100%;
  }
  .info__img-1, .info__img-3 {
    margin-left: 0px;
  }
  .info__img-2 {
    margin-right: 0px;
  }
}

@media (max-width: 992px) {
  .page__title {
    padding-top: 80px;
    font-size: 40px;
  }
  .btn-big {
    padding: 15px 31px;
  }
  .page__text {
    padding: 18px 0px 80px 0px;
  }
  .info__block {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    padding-top: 120px;
  }
  .info__block:last-child {
    padding-bottom: 180px;
  }
  .info__title {
    font-size: 25px;
  }
  .statistics__content {
    padding: 50px 0px 50px 0px;
  }
  .statistics__title {
    font-size: 25px;
  }
  .statistics__img {
    margin-top: -85px;
  }
  .footer__content {
    padding: 40px 0px 23px 0px;
  }
}

@media (max-width: 768px) {
  .page__content {
    display: block;
  }
  .page__info {
    width: 100%;
  }
  .page__title {
    text-align: center;
  }
  .page__subtitle {
    text-align: center;
  }
  .page__text {
    padding: 18px 0px 20px 0px;
    text-align: center;
  }
  .page__btn {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page__img {
    max-width: 550px;
    width: 100%;
    height: 561px;
    margin: 0 auto;
    padding-top: 0px;
    padding-left: 0px;
  }
  .btn {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .block__btn {
    display: -ms-grid;
    display: grid;
    height: 511px;
    padding: 30px 100px;
  }
  .info__block {
    display: -ms-grid;
    display: grid;
    padding-top: 30px;
  }
  .info__block:last-child {
    padding-bottom: 30px;
  }
  .info__img {
    max-width: 550px;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    margin: 0 auto;
  }
  .info__content {
    width: 100%;
  }
  .info__content {
    text-align: center;
  }
  .info__content-1, .info__content-3 {
    padding-left: 0px;
  }
  .info__content-2 {
    padding-right: 0px;
  }
  .statistics__content {
    display: -ms-grid;
    display: grid;
  }
  .statistics__info {
    padding-right: 0px;
    text-align: center;
  }
  .statistics__img {
    margin: 0 auto;
  }
  .footer__text {
    text-align: center;
  }
}

@media (max-width: 560px) {
  .logo {
    width: 30%;
  }
  .nav {
    display: -ms-grid;
    display: grid;
  }
  .nav-item {
    padding-left: 0;
    padding-bottom: 5px;
  }
  .page__title {
    font-size: 30px;
  }
  .page__subtitle {
    font-size: 13px;
  }
  .block__btn {
    height: 100%;
    padding: 30px 0px 0px 0px;
  }
  .page__img {
    height: 100%;
    padding-bottom: 30px;
  }
  .footer__inner {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__logo {
    padding-bottom: 30px;
  }
}
